:root {
    --main-bg-color: #659dbd; 
    --gradient-one: #bc986a;
    --gradient-two: #daad86;
    --gradient-three: #cabf99;
    --section-bg-color: #fbfaf5;
    --primary-txt: #323231;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

header {
    margin-top: 2rem;
    padding: 2rem 3rem;
    text-align: center;
    display: flex;
}

header h1 {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem 0;
    background: linear-gradient(to left, var(--gradient-one), var(--gradient-two), var(--gradient-three));
    border-radius: 18px;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

.container {
    display: flex;
}

.btn {
    width: 80%;
    height: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    cursor: pointer;  
    margin-top: 1.5rem; 
}

.btn:hover {
    box-shadow: 0 0 3px black;
}

aside {
    flex: 33%;
    margin: 0 1.5rem 0 3rem;
    background-color: var(--section-bg-color);
    padding: .5rem 1rem;
    height: 70vh;
    border-radius: 9px;
}

aside h2 {
    text-align: center;
    font-size: 2rem;
}

#searchbar {
    width: 80%;
    height: 2.25rem;
    border-radius: 8px;
    box-shadow: 0 0 8px black;
    padding: .5rem;
    margin: 1rem 0;
}

.submit-btn {
    background-color: var(--gradient-one);
    margin-top: .7rem;
}

#searchbar, .submit-btn, .history-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-size: 1.2rem;
}

#city-form {
    border-bottom: 3px solid var(--primary-txt);
    padding-bottom: 2rem;
}

main {
    flex: 66%;
    margin-right: 4rem;
}

.main-container {
    flex-direction: column;
}

.main-section-1 {
    flex: 40%;
    margin: 0 3rem 1rem 1.5rem;
    background-color: var(--section-bg-color);
    padding: .5rem 1rem;
    border-radius: 9px;
    padding: 2rem;
}

.main-section-1 h2 {
    font-size: 2rem;
    margin: 0 2rem 2rem 2rem;
}

.main-section-1 p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0 .5rem;
}

#uv-index {
    box-sizing: border-box;
    padding: 0 .5rem;
    border-radius: 5px;
}

.uv-good {
    background-color: lightgreen;
}

.uv-meh {
    background-color: goldenrod;
}

.uv-bad {
    background-color: tomato;
}

.main-section-2 {
    flex: 50%;
    margin: 0 3rem 1rem 1.5rem;
}

.section-2-header {
    margin: 0 2rem 2rem 2rem;
}

.card-container {
    display: flex;
}

.card {
    flex: 20%;
    height: 30vh;
    box-sizing: border-box;
    margin: 0 .5rem 1rem .5rem;
    padding: .5rem 1rem;
    background-color: var(--section-bg-color);
    border-radius: 9px;
}

.card h2 {
    border-bottom: 3px solid var(--primary-txt);
    margin-bottom: .5rem;
    padding-bottom: .7rem;
}

.card p {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}

.icon-img {
    width: auto;
    height: auto;
    max-width: 50%;
}

.hide {
    visibility: hidden;
}

/* small desktops */
@media screen and (max-width: 1200px) {
    .card-container {
        flex-direction: column;
    }
}

/* small laptops */
@media screen and (max-width: 1024px) {

}

/* tablets */
@media screen and (max-width: 768px) {
    .container {
        display: block;
        float: left;
    }

    .aside-container {
        width: 80%;
        margin-left: 2rem;
        margin-bottom: 3rem;
    }

    .main-container {
        margin: 1rem 3.5rem;
        width: 80%;
    }

    .main-container h2 {
        font-size: 1.5rem;
    }

    .main-container p,#searchbar {
        font-size: 1rem;
    }
}

/* phones */
@media screen and (max-width: 480px) {

}